/**
 * @author Ushan Shanilka <ushanshanilka80@gmail.com>
 * @since 11/24/2022
 **/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@400;500;600&display=swap');

:root{
    --light-red:#FE633D;
    --black:#202046;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Fira Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    /*text-transform: capitalize;*/
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 7%;
}

/*section:nth-child(even){*/
/*    background:#eee;*/
/*}*/

.sub-heading{
    text-align: center;
    color:var(--light-red);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--light-red);
    letter-spacing: .1rem;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
    width: 20%;
}

header .logo img{
    width: 100%;
}

header .logo i{
    color:var(--light-red);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--light-red);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--light-red);
    /*transform: rotate(360deg);*/
}

header .icons #menu-bars{
    display: none;
}

.action {
    position: relative;
    top: 2px;
    right: 0;
}
.icons .profile{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.icons .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icons .profileMenu{
    position: absolute;
    top: 235px;
    right: 75px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.5) 0 8px 24px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}
.icons .profileMenu.active{
    top: 69px;
    right: 75px;
    visibility: visible;
    opacity: 1;
}
.icons .profileMenu h4{
    text-align: center;
    font-size: 15px;
    margin-bottom: 5px;
}
.icons .profileMenu .email{
    text-align: center;
    font-size: 11px;
    margin-bottom: 5px;
}
.icons .profileMenu::before{
    content : '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.icons .profileMenu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
}
.icons .profileMenu h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.icons .profileMenu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}
.icons .profileMenu ul li i{
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}
.icons .profileMenu ul li:hover i{
    opacity: 1;
}
.icons .profileMenu ul li:hover a{
    opacity: 1;
    color: #EE332D;
}
.icons .profileMenu ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.5s;
}
.profileMenu a{
    width: auto!important;
    background: transparent!important;
}


.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    padding-top: 9rem;
    margin-right: 135px;
}

.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image{
    flex:1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color:var(--light-red);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color:var(--black);
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:var(--light-red);
}

.popular-product{
    margin-top: 100px;
}

.popular-product .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap:1.5rem;
}

.popular-product .box-container .box{
    padding:2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.popular-product .box-container .box img{
    height:17rem;
    margin:1rem 0;
}

.popular-product .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.popular-product .box-container .box .stars{
    padding:1rem 0;
}

.popular-product .box-container .box .stars i{
    font-size: 1.7rem;
    color:var(--light-red);
}

.popular-product .box-container .box span{
    color:var(--light-red);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

.about{
    margin-top: 165px;
    margin-bottom: 220px;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color:var(--black);
    font-size: 4rem;
    padding:.5rem 0;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--light-red);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}

.review{
    margin-top: 150px;
}

.review .slide{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;
}

.review .slide .fa-quote-right{
    position: absolute;
    top:2rem; right:2rem;
    font-size: 6rem;
    color:#ccc;
}

.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color:var(--light-red);
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
}

.footer{
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .credit{
    text-align: center;
    font-size: 2rem;
    color:var(--black);
}

.footer .credit span{
    color:var(--light-red);
}

/* product page */

.search-bar{
    margin-top: 70px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    width: 25%;
    display: flex;
}

.search-icon{
    margin: auto;
    font-size: 15px;
}

.form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--light-color);
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--light-color);
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-bottom: 2px solid var(--light-red);
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--light-red);
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

/*product-view page*/
.row{
    display: flex;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.single-product .fas{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    border: 1px solid #ff523b;
}
.border{
    border: 1px solid #ff523b;
}

/*cart page*/
.product-image {
    float: left;
    width: 20%;
}

.product-details {
    float: left;
    width: 37%;
}

.product-price {
    float: left;
    width: 12%;
}

.product-quantity {
    float: left;
    width: 10%;
}

.product-removal {
    float: left;
    width: 9%;
}

.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}

.group:before, .shopping-cart:before,
.column-labels:before,
.product:before,
.totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
    content: "";
    display: table;
}

.group:after, .shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
    clear: both;
}

.group, .shopping-cart,
.column-labels,
.product,
.totals-item {
    zoom: 1;
}

.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
    content: "$";
}

.shopping-cart {
    margin-top: 95px;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
}

.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.column-labels .product-image,
.column-labels .product-details,
.column-labels .product-removal {
    text-indent: -9999px;
}

.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.product .product-image {
    text-align: center;
}
.product .product-image img {
    width: 100px;
}
.product .product-details .product-title {
    margin-right: 20px;
    font-weight: 600;
    font-size: 15px;
}
.product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}
.product .product-quantity input {
    width: 40px;
}
.product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: var(--light-red);
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
}
.product .remove-product:hover {
    background-color: var(--light-red);
}

/* Totals section */
.totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}
.totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}
.totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
}

#cart-total {
    font-weight: 800;
    font-size: 12px;
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: var(--light-red);
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.checkout:hover {
    background-color: var(--light-color);
    cursor: pointer;
}

/*login page*/
.main-form{
    width: 100%;
    display: flex;
    margin: auto;
    height: 100vh;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    margin: auto;
}

.form-container{
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    /*padding: 20px 0;*/
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    border: none;
    width: 50%;
    /*background: var(--light-red);*/
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-btn{
    display: flex;
    flex-direction: column;
}
.form-btn .button{
    display: flex;
}
.form-btn .indicator{

}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 78px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    cursor: pointer;
    border: none;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#singUpForm{
    left: -300px;
}
#adminForm{
    left: 300px;
    width: 300px;
}
form a{
    font-size: 12px;
}
#indicator{
    width: 62px;
    border: none;
    background: var(--light-red);
    height: 3px;
    margin-left: 96px;
    transform: translateX(100px);
    transition: transform 1s;
}

.input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--black);
}


/* media queries  */


@media (max-width: 1024px) {
    .icons .profileMenu.active {
        right: 53px;
    }
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    .icons .profileMenu.active {
        right: 5px;
        width: 20%;
    }

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

    .search-bar {
        width: 95%;
    }

    .form__group{
        width: 40%;
    }

}

@media screen and (max-width: 650px) {
    .shopping-cart {
        padding-top: 20px;
        border-top: 1px solid #eee;
    }

    .column-labels {
        display: none;
    }

    .product-image {
        float: right;
        width: auto;
    }
    .product-image img {
        margin: 0 0 10px 10px;
    }

    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }

    .product-price {
        clear: both;
        width: 70px;
    }

    .product-quantity {
        width: 100px;
    }
    .product-quantity input {
        margin-left: 20px;
    }

    .product-quantity:before {
        content: "x";
    }

    .product-removal {
        width: auto;
    }

    .product-line-price {
        float: right;
        width: 70px;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .icons .profileMenu.active {
        right: 5px;
        width: 37%;
    }

    .popular-product .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }

    .search-bar {
        width: 90%;
    }
    .form__group{
        width: 100%;
    }
    .row {
        display: contents!important;
    }

}

/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
    .product-removal {
        float: right;
    }

    .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }

    .product .product-line-price:before {
        content: "Item Total: $";
    }

    .totals .totals-item label {
        width: 60%;
    }
    .totals .totals-item .totals-value {
        width: 40%;
    }
}
